.text-display-large{
font-family:var(--font-family-sans);
font-size:var(--display-large-size);
line-height:var(--display-large-line-height);
font-weight:var(--font-weight-semibold);
letter-spacing:var(--letter-spacing-tighter);
}

.text-display{
font-family:var(--font-family-sans);
font-size:var(--display-size);
line-height:var(--display-line-height);
font-weight:var(--font-weight-semibold);
letter-spacing:var(--letter-spacing-tight);
}

.text-heading-large{
font-family:var(--font-family-sans);
font-size:var(--heading-large-size);
line-height:var(--heading-large-line-height);
font-weight:var(--font-weight-semibold);
letter-spacing:var(--letter-spacing-loose);
}

.text-heading{
font-family:var(--font-family-sans);
font-size:var(--heading-size);
line-height:var(--heading-line-height);
font-weight:var(--font-weight-semibold);
letter-spacing:var(--letter-spacing-normal);
}

.text-lead-large{
font-size:var(--lead-large-size);
line-height:var(--lead-large-line-height);
}

.text-lead{
font-size:var(--lead-size);
line-height:var(--lead-line-height);
}

.text-body{
font-size:var(--body-size);
line-height:var(--body-line-height);
}

.text-body-small{
font-size:var(--body-small-size);
line-height:var(--body-small-line-height);
}

.text-mono-large{
font-family:var(--font-family-mono);
font-size:var(--mono-large-size);
line-height:var(--mono-large-line-height);
font-weight:var(--font-weight-medium);
letter-spacing:var(--letter-spacing-wide);
text-transform:uppercase;
}

.text-mono{
font-family:var(--font-family-mono);
font-size:var(--mono-size);
line-height:var(--mono-line-height);
font-weight:var(--font-weight-medium);
letter-spacing:var(--letter-spacing-wide);
text-transform:uppercase;
}

.text-micro{
font-family:var(--font-family-mono);
font-size:var(--micro-size);
line-height:var(--micro-line-height);
font-weight:var(--font-weight-regular);
letter-spacing:var(--letter-spacing-wide);
}

.text-micro-small{
font-family:var(--font-family-mono);
font-size:var(--micro-small-size);
line-height:var(--micro-small-line-height);
font-weight:var(--font-weight-medium);
letter-spacing:var(--letter-spacing-wide);
}
